<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TheGameOfDeath</display-name>
  <welcome-file-list>
    <welcome-file>Notice.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.scsa.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/User.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameServlet</display-name>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>com.scsa.game.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/Game.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.scsa.notice.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/Notice.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurvivorServlet</display-name>
    <servlet-name>SurvivorServlet</servlet-name>
    <servlet-class>com.scsa.game.SurvivorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurvivorServlet</servlet-name>
    <url-pattern>/Survivor.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapServlet</display-name>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>com.scsa.game.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/Map.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.scsa.game.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/Admin.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.scsa.game.GameListner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UserManageServlet</display-name>
    <servlet-name>UserManageServlet</servlet-name>
    <servlet-class>com.scsa.game.UserManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/UserManage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.scsa.game.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserList.do</url-pattern>
  </servlet-mapping>
</web-app>